h1{
	display:block;
	margin:0 auto;
}


.from{
	width:70%;
	clear: both;
	padding:15px;
	overflow:auto;
        /*bottom:0;*/
        /*max-height: 400px;*/
        font-size: 20px;
        /*border:2px solid grey;*/
        background-color: lightgrey;

	}

	.to{
		
        /*bottom:0;*/
    	position: relative;
	float:right;
	width:70%;
	padding:15px;
	clear:both;
	font-size: 20px;
	/*border:2px solid blue;*/
        background-color: lightblue;
	}

	.chat{
		width:100%;
		position: relative;
		bottom:0 !important;
	}

	.chat input{
		width:80%;
		border-radius: 5px;
	}

	#botbtn{
		z-index:2000;
		position:absolute;
		bottom:0;
		right:0;
	}

	#close{
		float:right;
	}
#header{
	width:100%;
}
.message{
	border-radius: 20px;
	margin-bottom: 8px;
}
.chatmsg{
	height:80%;
	width:80%;
	margin:auto;
	overflow-y: scroll;
}

#a{
	width:10px;
	height:10px;
}