<div class="container">
  <side-bar [open]="open"></side-bar>
  <div class="main-content">
    <div class="swipe-area" [class.swipe-area-open]="open" (swipeleft)="swipe('swipeleft')" (swiperight)="swipe('swiperight')"></div>
    <div style="background:linear-gradient(to bottom , #09203f, #1d4a6d  )">
      <div style="z-index:2500">
        <span (click)="open = !open"><i style="color:white;font-size:25px;margin:15px" class="glyphicon glyphicon-align-justify"></i></span> <span style="color:white;vertical-align:super;font-size:20px"> Appointer </span>
        <span class="glyphicon glyphicon-user" (click)="toProfile()" style="color:white;float:right;top:9px;right:9px;border-radius:50%;border:1px solid white;padding:10px;"></span>
      </div>
    </div>
    <div class="content" style="height:100%;overflow:auto">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>

<!-- #3B2667, #8943bb -->