<div class="back">
    <br>
    <div style="text-align:  center;">
        <img style="border-radius: 50%;height: 130px;width: 130px;" src="/assets/user-icon.jpg">
    </div>
    <br>
    <br>
    <h2 style="color:white;margin-bottom:5px;margin-left:15px">Personal Information</h2>
    <hr style="color:white;margin-left:15px" class="style-one">
    <div style="margin-left:25px">
        <span style="color:white;font-size: 20px;" class="fas fa-user"></span>
        <span style="font-size: 20px;color:white;margin-left:15px">{{local.name}}</span>
        <br>
        <span style="color:white;font-size: 20px;" class="fas fa-envelope"></span>
        <span style="color:white;font-size: 20px;margin-left:15px ">{{local.email}}<i style="color:rgb(39, 184, 39);margin:5px" class="fas fa-check-circle"></i>

        </span>
        <br>
        <span style="color:white;font-size: 20px;" class="fas fa-phone"></span>
        <span style="color:white; margin-left:15px;font-size: 20px;">{{local.phone}} <i style="color:red;margin:5px" class="far fa-times-circle"></i></span>
    </div>
    <br>
    <br>
    <h2 style="color:white;margin-bottom:5px;margin-left:15px">Services</h2>
    <hr style="color:white;margin-left:15px" class="style-one">
    <div>
        <div class="card border-light" *ngFor="let service of services" style="margin:10px">
            <div class="card-header">{{service.title}}</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Light card title</h5> -->
                <p class="card-text">{{service.description}}</p>
            </div>
        </div>
    </div>

</div>